*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background:#f0f2f5;
    min-height:100vh;
    display:flex;
    justify-content:center;
}

.container{
    width:100%;
    max-width:420px;
    text-align:center;
    padding:12px 20px 40px;
}

.language{
    color:#65676b;
    font-size:16px;
    margin-top:8px;
}

.logo-area{
    margin-top:35px;
    margin-bottom:55px;
}

.logo-area img{
    width:95px;
    height:95px;
    object-fit:contain;
}

.input-box{
    width:100%;
    height:72px;

    border:2px solid #d8dadd;
    border-radius:22px;

    background:white;

    padding:0 18px;

    font-size:24px;
    color:#606770;

    margin-bottom:18px;

    outline:none;
}

.input-box::placeholder{
    color:#606770;
}

.login-btn{
    width:100%;
    height:72px;

    border:none;
    border-radius:40px;

    background:#1877f2;

    color:white;

    font-size:28px;
    font-weight:500;

    cursor:pointer;

    margin-top:8px;
}

.forgot{
    display:block;

    margin-top:38px;

    text-decoration:none;

    color:#050505;

    font-size:22px;
    font-weight:400;
}

.create-account{
    display:flex;

    justify-content:center;
    align-items:center;

    width:100%;
    height:72px;

    margin-top:140px;

    border:2px solid #1877f2;
    border-radius:40px;

    color:#1877f2;

    text-decoration:none;

    font-size:22px;
    font-weight:600;

    background:transparent;
}

.footer{
    margin-top:35px;

    color:#8a8d91;

    font-size:13px;
}

.footer p{
    margin-top:5px;
}
