.container{
    width:100%;
    max-width:330px;
    text-align:center;
    padding:8px 16px 25px;
}

.language{
    font-size:12px;
    color:#65676b;
    margin-top:8px;
}

.logo-area{
    margin-top:25px;
    margin-bottom:90px; /* BIG EMPTY SPACE */
}

.logo-area img{
    width:60px;
    height:60px;
    object-fit:contain;
}

.input-box{
    width:100%;
    height:48px;

    border:1px solid #dadde1;
    border-radius:12px;

    background:#fff;

    padding:0 14px;

    font-size:15px;
    color:#1c1e21;

    margin-bottom:10px;

    outline:none;
}

.input-box::placeholder{
    color:#65676b;
    font-size:15px;
}

.login-btn{
    width:100%;
    height:46px;

    background:#1877f2;

    border:none;
    border-radius:24px;

    color:white;

    font-size:16px;
    font-weight:500;

    margin-top:2px;
}

.forgot{
    display:block;

    margin-top:18px;

    color:#050505;

    text-decoration:none;

    font-size:14px;
    font-weight:400;
}

.create-account{
    width:100%;
    height:46px;

    display:flex;
    align-items:center;
    justify-content:center;

    margin-top:55px; /* MUCH SMALLER GAP */

    border:1px solid #1877f2;
    border-radius:24px;

    color:#1877f2;

    text-decoration:none;

    font-size:15px;
    font-weight:600;
}

.footer{
    margin-top:18px;

    color:#8a8d91;

    font-size:10px;
}
